body {
	padding: 0;
	margin: 0;
}

main {
    min-height: 85vh;
}

.error::after {
    content: "*";
    color:red;
    font-size: 1rem;
}

.table-oscura {
    --bs-table-bg: #212529;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #1c365a;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #373b3e;
}