<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Veterinaria</display-name>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Especies</display-name>
    <servlet-name>Especies</servlet-name>
    <servlet-class>servlets.Especies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Especies</servlet-name>
    <url-pattern>/Especies</url-pattern>
    <url-pattern>/especies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Razas</display-name>
    <servlet-name>Razas</servlet-name>
    <servlet-class>servlets.Razas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Razas</servlet-name>
    <url-pattern>/Razas</url-pattern>
    <url-pattern>/razas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Veterinarios</display-name>
    <servlet-name>Veterinarios</servlet-name>
    <servlet-class>servlets.Veterinarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Veterinarios</servlet-name>
    <url-pattern>/Veterinarios</url-pattern>
    <url-pattern>/veterinarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Practicas</display-name>
    <servlet-name>Practicas</servlet-name>
    <servlet-class>servlets.Practicas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Practicas</servlet-name>
    <url-pattern>/Practicas</url-pattern>
    <url-pattern>/practicas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Precios</display-name>
    <servlet-name>Precios</servlet-name>
    <servlet-class>servlets.Precios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Precios</servlet-name>
    <url-pattern>/Precios</url-pattern>
    <url-pattern>/precios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Clientes</display-name>
    <servlet-name>Clientes</servlet-name>
    <servlet-class>servlets.Clientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Clientes</servlet-name>
    <url-pattern>/Clientes</url-pattern>
    <url-pattern>/clientes</url-pattern>
    <url-pattern>/CLIENTES</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Atenciones</display-name>
    <servlet-name>Atenciones</servlet-name>
    <servlet-class>servlets.Atenciones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Atenciones</servlet-name>
    <url-pattern>/Atenciones</url-pattern>
    <url-pattern>/atenciones</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mascotas</display-name>
    <servlet-name>Mascotas</servlet-name>
    <servlet-class>servlets.Mascotas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mascotas</servlet-name>
    <url-pattern>/Mascotas</url-pattern>
    <url-pattern>/mascotas</url-pattern>
    <url-pattern>/MASCOTAS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Proveedores</display-name>
    <servlet-name>Proveedores</servlet-name>
    <servlet-class>servlets.Proveedores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Proveedores</servlet-name>
    <url-pattern>/Proveedores</url-pattern>
    <url-pattern>/proveedores</url-pattern>
  </servlet-mapping>
</web-app>